.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-right{
  border-right: 2px solid #e5e5e5;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.no-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
